// _vidangu-player.scss

// load libs
@import '../../libs/vars';
@import '../../libs/functions';
@import '../../libs/mixins';


/* Vidangu Player Widget */

.vidangu-player {
    
    z-index: -100;
    
    .fullscreen {
        
    }
    
    .vidangu-player-wrapper {
        position: absolute;
        background: #000;
        width: 100%;
        height: 100%;
        
        margin: 0;
        padding: 0;

        @include opacity(1);
        @include transition(opacity 125ms ease-out);

        line-height: normal;
        border-collapse: separate;
        
        -ms-touch-action: none;
        @include prefix(user-select, none);

        /* z-index: -100; */  

        video { 
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            @include prefix(transform, translateX(-50%) translateY(-50%));
            background: url(../../../images/video-poster.jpg) no-repeat;
            background-size: cover;
        }
        
        .vidangu-player-controls {
            
        }
    }
}